@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Libertinus+Keyboard&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');

:root {
    --black: #1c1c1c;
    --gray: #7e7e7e;
    --gray-light: #e4e4e4;
    --red: #b30000;
    --border-radius: 10px;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.16vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-extra: clamp(1.13rem, cal(1.08rem=0.22vw), 11.25rem);

}

body {
    font-family: "Science Gothic", sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: #faf5ee;
    background-image: url("/img/img-noise-361x370.png");
    margin: 0px;
}

a {
    color: var(--black);
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
}

h3 {
    font-size: var(--font-size-md);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family: "Science Gothic", sans-serif;
    font-size: var(--font-size-base);
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

.btn {
    border: none;
    background-color: var(--black);
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input .btn {
    border: none;
    background-color: var(--black);
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
}

img {
    width: 100%;
    height: auto;
}

/* layout */
.container {
    max-width: 982px;
    margin: 0px auto;
    padding: 0 10px;
}

.main {
    padding: 20px 0px;
}

/* Hero section */
.hero__img {
    max-height: 528px;
    filter: drop-shadow(0px, 44px, 34px, rgba(0, 0, 0, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius)
}

/* main header */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas:
        "logo button"
        "menu menu"
    ;
}

@media only screen and (min-width: 768px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "logo menu button"
        ;
    }
}

.header__logo {
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
}

.header__logo:hover {
    text-decoration: underline;
}

.header__nav {
    grid-area: menu;
    display: flex;
    justify-content: center;
}

.header__button {
    grid-area: button;
    display: flex;
    justify-content: end;
}

.header__button button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--black);
}


.header__button button:hover {
    border: 2px solid var(--black);
}

/* Header Navigation */
.header__nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: none;
}

.header__nav ul a {
    text-decoration: none;
    padding: 10px;
}

.header__nav ul a:hover {
    text-decoration: underline;
}

.header__nav ul a:active {
    color: var(--gray);
}

/* Author main */
.author {
    padding: 10px 0;
    text-align: center;
}

.audio__heading {
    margin-top: 10px;
    margin-bottom: 5px;
}

.author__body {
    font-size: var(--font-size-md);
    margin: 5px 0 40px 0;

}

/* Articles home */
.articles__heading {
    margin-top: 4rem;
    font-weight: 400;
}

.articles__ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-extra);
    display: flex;
    flex-direction: column;
}

.articles_list_date {
    font-size: var(--font-size-base);
    color: var(--gray);
    width: 260px;
    display: inline-block;
}

.articles__ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 18px 0px;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .articles__ul li a {
        flex-direction: row;
        align-items: center;
    }

    .articles_list_date {
        text-align: right;
    }
}

.articles__ul li {
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}

.articles__ul li:not(:last-child) {
        border-bottom: 1px solid;
    }

.articles__ul li:hover{
    filter: none;
}

.articles__ul:hover li{
filter: blur(3px);
}

.articles__ul:hover li:hover{
    filter: none;
}


.pagination{
    font-size: 1.3rem;
    color: var(--gray);
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}

.pagination:hover{
    color: var(--black);
}

.article {
    white-space: pre-wrap;
}

.footer{
    margin: 4rem;
    text-align: center;
    
}

.searchBar{
    cursor: relative;
    visibility: hidden;
    transform: translateY(-100px);
    background-color: var(--black);
    padding: 4px 0;
    position: absolute;
    left: 0;
    right: 0;
}

.searchBar.open{
    transform: translateY(0);
    transition: transform 0.1s;
}

.searchBar input{
    padding: 0;
    margin: 0;
}

#searchClose{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--gray-light);
    padding: 15px;
}

/* Dashboard Admin */
.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-post-controls .btn  {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
